.woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button {
	/*background-color: #f5c93e;*/
	background-image: none;
	border: medium none;
	box-shadow: none;
}

.woocommerce #content input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce-page #content input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover {
	background-image: none;
	background-color: rgb(30, 168, 206) !important;
}
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img {
	box-shadow: none;
}

.woocommerce ul.products li.product a:hover img, .woocommerce-page ul.products li.product a:hover img {
	box-shadow: none;
}
.woocommerce span.onsale, .woocommerce-page span.onsale {
/*  background: #84CE14;*/
background-image: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 50%;
  padding: 8px;
}
.woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:before, .woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-error:before, .woocommerce-page .woocommerce-info:before, .woocommerce-page .woocommerce-message:before {
  height: auto;
}
.woocommerce #content input.button.added:before, .woocommerce #respond input#submit.added:before, .woocommerce a.button.added:before, .woocommerce button.button.added:before, .woocommerce input.button.added:before, .woocommerce-page #content input.button.added:before, .woocommerce-page #respond input#submit.added:before, .woocommerce-page a.button.added:before, .woocommerce-page button.button.added:before, .woocommerce-page input.button.added:before {
	content: "";
}
.woocommerce-page .pt-perspective {
  height: auto;
}
.woocommerce h2 {
	font-size: 1.4em;
}
.woocommerce .cart-collaterals {
  margin-top: 60px;
}

.woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button {
  border-radius: 0;
  color: #FFF;
}
.woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt {
  background: #ad74a2 !important;
}
.woocommerce #content input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce-page #content input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover {
	background: #C485B7 !important;
}
.woocommerce .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .cross-sells {
	float: none;
	width: auto;	
}
.woocommerce .cart_totals > table {
	width: 100%;
}
.woocommerce .shipping_calculator {
  text-align: right;
}
.woocommerce .product-name a {
	color: #2ba6cb;
	font-weight: 600;
}
.woocommerce .cart-collaterals .cart_totals table td, .woocommerce-page .cart-collaterals .cart_totals table td {
	padding: 6px;
}
.woocommerce .cross-sells .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li {
  margin: 2%;
  width: 21%;
}
.woocommerce .cross-sells ul.products li.first, .woocommerce-page ul.products li.first {
	clear: left;
}
.woocommerce .cross-sells ul.products li.product, .woocommerce-page ul.products li.product {
  float: left;
  margin: 2%;
  padding: 0;
  position: relative;
  width: 29%;
}
.woocommerce .shipping-calculator-form select {
	padding: 10px;
}
@media only screen and (max-device-width : 480px) {
	.woocommerce .cross-sells ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce .related ul.products li.product, .woocommerce-page ul.products li.product {
		width: 94%;
		margin-bottom: 30px;
	}
	.woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table th {
		padding: 10px;
	}
	.cross-sells h3 {
		text-align: center;
	}
	
	.cross-sells .button.add_to_cart_button.product_type_variable,.cross-sells .button.add_to_cart_button.product_type_simple {
		width: 100px;
	}
	.woocommerce-page.columns-3 ul.products li.product, .woocommerce.columns-3 ul.products li.product {
		width: 100%;
	}
	.woocommerce.columns-3 {
		padding: 10px;
	}
	.woocommerce-page.columns-3 ul.products li.product, .woocommerce.columns-3 ul.products li.product h3 {
		text-align: center;
	}
}

.woocommerce ul.products .product.type-product.status-publish.has-post-thumbnail {
  border: 1px solid #d7d7d7;
  padding: 12px;
  -webkit-transition: all .25s ease-out;
	   -moz-transition: all .25s ease-out;
	    -ms-transition: all .25s ease-out;
	     -o-transition: all .25s ease-out;
	        transition: all .25s ease-out;
}
.woocommerce #content div.product div.images img, .woocommerce div.product div.images img, .woocommerce-page #content div.product div.images img, .woocommerce-page div.product div.images img {
	box-shadow: none;
}
.woocommerce div.product div.images .thumbnails img {
	width: auto;
}
.type-product .comment .comment-text {
    width: auto;
}
.woocommerce .products .star-rating, .woocommerce-page .products .star-rating {
	float: right;
	margin: 10px 0 0.5em;
}
.woocommerce ul.products .product.type-product.status-publish.has-post-thumbnail a:first-child:hover:before {
  background: rgba(0,0,0,.04);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #555;
  width: 100%;
}
.woocommerce ul.products .product.type-product.status-publish.has-post-thumbnail a:hover:before {
background: rgba(0,0,0,.04);
}
.product.type-product.status-publish.has-post-thumbnail:hover {
	border-color: #777777;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.woocommerce-page.columns-3 ul.products li.product, .woocommerce.columns-3 ul.products li.product {

	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.woocommerce-page.columns-3 ul.products li.product, .woocommerce.columns-3 ul.products li.product {
		width: 14px;
	}
}
.cart-subtotal > th {
	width: 90%;
}
.woocommerce #content table.cart a.remove, .woocommerce table.cart a.remove, .woocommerce-page #content table.cart a.remove, .woocommerce-page table.cart a.remove {
  color: #f98989;
  font-weight: 300;
}
.cart-subtotal > td {
  width: 6%;
}
.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
	width: 20%;
}
.attachment-shop_thumbnail {
  border: 1px solid #ccc;
}
.woocommerce .upsells ul.products li.product {
	width: 20%;
}
.woocommerce-page div.product .woocommerce-tabs ul.tabs {
	margin:0;
	padding: 0 0 0 5px;
}
.woocommerce-tabs #comments {
padding-top: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	background-image: none;
	box-shadow: none;
}
.woocommerce div.product .woocommerce-tabs #comments {
	border-top : 0;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
	width: 60px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
	margin-left: 70px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: #666666;
	-webkit-transition: all .25s ease-out;
	   -moz-transition: all .25s ease-out;
	    -ms-transition: all .25s ease-out;
	     -o-transition: all .25s ease-out;
	        transition: all .25s ease-out;
}
.woocommerce div.product .woocommerce-tabs .panel {
	background-color: #FFF;
	padding: 20px;
	border-top: 0;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:before {

}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before, .woocommerce div.product .woocommerce-tabs ul.tabs li.active:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:before {
	box-shadow: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	color: #000;
	opacity: 1;
}
@media only screen and (min-device-width : 768px) {
	.products .product .button {
		display: none;
		left: calc(50% - 70px);
		position: absolute;
		top: calc(50% - 40px);
		width: 140px;
		-webkit-transition: all .25s ease-out;
		   -moz-transition: all .25s ease-out;
		    -ms-transition: all .25s ease-out;
		     -o-transition: all .25s ease-out;
		        transition: all .25s ease-out;
	}
  .woocommerce .added_to_cart.wc-forward {
      background: none repeat scroll 0 0 #fff;
      border: 1px solid #ccc;
      display: block;
      left: calc(50% - 50px);
      padding: 0 8px;
      position: absolute;
      top: calc(50% - 10px);
      width: 100px;
  }
	.woocommerce #content input.button:active, .woocommerce #respond input#submit:active, .woocommerce a.button:active, .woocommerce button.button:active, .woocommerce input.button:active, .woocommerce-page #content input.button:active, .woocommerce-page #respond input#submit:active, .woocommerce-page a.button:active, .woocommerce-page button.button:active, .woocommerce-page input.button:active {
	  top: calc(50% - 40px);
	}
	.products .product:hover .button {
		display: block;
	}
}
.woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale {
  left: auto;
  margin: 12px 12px 0 0;
  right: 0;
  top: 0;
}
.woocommerce span.onsale, .woocommerce-page span.onsale {
  border-radius: 0;
  box-shadow: none;
  margin: 10px 0 0;
  padding: 0 8px;
  text-shadow: none;
}
.woocommerce .product.sale p br {
	display: none;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
  background: none repeat scroll 0 0 #ffffff;
  border-radius: 1em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(255, 255, 255, 0.65) inset;
  cursor: pointer;
  height: 14px;
  outline: medium none;
  position: absolute;
  top: -4px;
  width: 15px;
  z-index: 2;
  border: 1px solid #999;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
  background: none repeat scroll 0 0 #fdd200;
  border: 0 none;
  border-radius: 1em;
  box-shadow: none;
  display: block;
  font-size: 0.7em;
  position: absolute;
  z-index: 1;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img {
  background: none repeat scroll 0 0 #ffffff;
float: left;
height: auto;
margin-right: 12px;
padding: 4px;
width: 60px;
box-shadow: none;
}
.widget_product_search #searchsubmit {
	padding: 8px;
	box-shadow: none;
	border: 0;
	color: #FFF;
	width: 100%;
	cursor: pointer;
	-webkit-transition: all .25s ease-out;
	   -moz-transition: all .25s ease-out;
	    -ms-transition: all .25s ease-out;
	     -o-transition: all .25s ease-out;
	        transition: all .25s ease-out;
}
.widget_product_search #searchsubmit:hover {
	background-color: rgb(30, 168, 206) !important;
}
.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a, .woocommerce-page ul.cart_list li a, .woocommerce-page ul.product_list_widget li a {
  color: #999;
  -webkit-transition: all .25s ease-out;
	   -moz-transition: all .25s ease-out;
	    -ms-transition: all .25s ease-out;
	     -o-transition: all .25s ease-out;
	        transition: all .25s ease-out;
}
.woocommerce ul.cart_list li a:hover, .woocommerce ul.product_list_widget li a:hover, .woocommerce-page ul.cart_list li a:hover, .woocommerce-page ul.product_list_widget li a:hover {
	color: #000;
}
.woocommerce ul.cart_list li:after, .woocommerce ul.cart_list li:before, .woocommerce ul.product_list_widget li:after, .woocommerce ul.product_list_widget li:before, .woocommerce-page ul.cart_list li:after, .woocommerce-page ul.cart_list li:before, .woocommerce-page ul.product_list_widget li:after, .woocommerce-page ul.product_list_widget li:before {
  margin-bottom: 9px;
}
.product_list_widget > li {
  border-bottom: 1px solid #eee;
}
.product_list_widget > li:last-child {
	border-bottom: none;
}
.woocommerce-ordering select {
	padding: 5px 10px;
}
.widget_product_search label {
	display: none;
}
.shop-widgets h4.widget-title {
  margin-top: 25px;
  font-size: 1.2em;
}
.shop-widgets:first-child h4.widget-title {
  margin-top: 0;
}